<ion-view>
  <ion-content class="has-tabs">
    <div class="profile-header profile-header-doctor">
    	<div class="profile-picture"><img src="img/doctor.jpg" alt=""></div>
    	<div class="profile-name">
    		Dr. Esteban Garcés Burbano
    		<br>
    		Ortopedista - Traumatólogo
    		<span class="address">Dirección: Av. Mariana de Jesús OE-8 y Ocidental</span>
    	</div>
    </div>
    <div class="profile-content">
		<div class="row">
			<span>Plan:</span>
			<span>Ecuasanitas Total</span>
		</div>
		<div class="row">
			<span>Email:</span>
			<span>fernandagonza@gmail.com</span>
		</div>
		<div class="row content-list">
			<span>Enfermedades persitentes:</span>
			<ul>
				<li>Miopía</li>
				<li>Rinitis</li>
			</ul>
		</div>
	</div>
	<div class="profile-options">
		<button class="button">Editar Perfil</button>
		<button class="button">Cerrar sesión</button>
	</div>
  </ion-content>
</ion-view>
