<ion-view>
  <ion-content class="has-tabs">
  	<div class="content-wrapper history">
	    <h1 class="small-title">Historial</h1>
	    <ul>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    	<li><img src="img/profile.jpg" alt=""></li>
	    </ul>
	</div>
  </ion-content>
</ion-view>
