<ion-side-menus>
      <ion-side-menu-content>
        <header-nav></header-nav>
        <ion-nav-view name="menuContent" class="has-header"></ion-nav-view>
        <footer-nav></footer-nav>
      </ion-side-menu-content>
      <ion-side-menu side="right" width="200">
        <ion-content>
          <ul class="list app-list">
            <li>
              <a class="item" menu-close="" nav-clear="" ui-sref="app.recipes">
                <img src="img/recetas.svg" alt="">
                Mis recetas
              </a>
            </li>
            <li>
              <a class="item" menu-close="" nav-clear="" href="#/search">
                <img src="img/historial.svg" alt="">
                Mis historial
              </a>
            </li>
            <li>
              <a class="item" menu-close="" nav-clear="" href="#/search">
                <img src="img/ecuasanitas-iso.svg" alt="">
                Ecuasanitas
              </a>
            </li>
            <li>
              <a class="item cian" menu-close="" nav-clear="" href="#/search">
                Cerrar sesión
              </a>
            </li>
          </ul>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
