<ion-view>
  <ion-content>
    <div class="profile-header">
    	<div class="profile-picture"><img src="img/profile.jpg" alt=""></div>
    	<div class="profile-name">
    		Nombres y Apellidos
    		<br>
    		Fernanda Palacios Gonzáles Arias
    	</div>
    </div>
    <div class="profile-content">
		<div class="row">
			<span>Plan:</span>
			<span>Ecuasanitas Total</span>
		</div>
		<div class="row">
			<span>Email:</span>
			<span>fernandagonza@gmail.com</span>
		</div>
		<div class="row content-list">
			<span>Enfermedades persitentes:</span>
			<ul>
				<li>Miopía</li>
				<li>Rinitis</li>
			</ul>
		</div>
		<div class="profile-options">
			<button class="button">Editar Perfil</button>
			<button class="button">Cerrar sesión</button>
		</div>
	</div>
  </ion-content>
</ion-view>
