<ion-view title="Dr Frecuentes">
    <ion-content class="has-tabs">
        <div class="wrapper">

            <h1 class="cian-title">Mis Recetas</h1>

            <div class="recipes-list">
                <div class="recipes-grid recipes-list-header">
                    <div class="grid-col">NOTIFICACIONES</div>
                    <div class="grid-col"><i class="icon ion-android-notifications"></i></div>
                </div>
                <div class="recipes-list-content">
                    <div class="recipes-grid">
                        <div class="grid-col">OMEPRAZOL <span>20mg</span></div>
                        <div class="grid-col">
                            <label class="toggle toggle-assertive">
                               <input type="checkbox" checked>
                               <div class="track">
                                 <div class="handle"></div>
                               </div>
                           </label>
                        </div>
                    </div>
                    <div class="recipes-grid">
                        <div class="grid-col">IBUPROFENO <span>30mg</span></div>
                        <div class="grid-col">
                            <label class="toggle toggle-assertive">
                               <input type="checkbox">
                               <div class="track">
                                 <div class="handle"></div>
                               </div>
                           </label>
                        </div>
                    </div>
                    <div class="recipes-grid">
                        <div class="grid-col">KEROTROLACO <span>20mg</span></div>
                        <div class="grid-col">
                            <label class="toggle toggle-assertive">
                               <input type="checkbox" checked>
                               <div class="track">
                                 <div class="handle"></div>
                               </div>
                           </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
