@import 'booo'

/* Colors */
$blue = #0066cc

body
	font-family 'Raleway', sans-serif;

.has-header
	top 115px

.has-tabs
	bottom 163px
	background-color #f4f4f4

.header-nav
	background-color $blue
	size 100% 75px
	display flex
	justify-content space-between
	align-items center
	padding 0 5%

.header-nav-logo
	img
		height 35px

.header-nav-options
	display flex
	align-items center
	font-size em(40px)
	color white
	.user-profile
		circle 45px
		border 1px solid white
		background-color white
		overflow hidden
		margin-right 1rem
		img
			size 100%
			display block

.wrapper
	padding 22px


.home-title
	padding 0 0 12px 0
	display block
	color $blue
	font-family: 'Raleway', sans-serif
	border-bottom 1px solid $blue
	font-size 100%

.tabs
	background-color $blue !important
	.icon
		height 100%
		color white
		font-size 36px
		display flex
		align-items center
		justify-content center
	.tab-item-active
		border-color $blue !important

.app-top-nav
	list-style none
	display flex
	background-color $blue
	li
		flex 1
		text-align center
		a
			text-decoration none
			color white
			display block
			line-height 40px
			font-family: 'Raleway', sans-serif

.app-list
	.item
		background-color #6195CB
		color white
		text-align center
		font-family: 'Raleway', sans-serif
		img
			display block
			margin auto
			size 40px
			margin-bottom 12px
	.cian
		background-color #6BA9AA

.app-form
	margin-top 20%
	input
	select
		size 100% auto
		padding 12px 0
		margin-bottom 12px
		background-color #A5A5A5
		color white
		font-family: 'Raleway', sans-serif
		padding-left 12px
		+placeholder()
			color white
	

/* Profile */
.profile-header
	background-color #6BA9AA
	color white
	font-family: 'Raleway', sans-serif
	text-align center
	padding 20px 0 
	.profile-picture
		circle 110px
		border 2px solid white
		background-color white
		overflow hidden
		display inline-block
		img
			size 100%
			object-fit cover
			object-position center
	.profile-name
		font-size 16px
		span
			padding 0 12px
		
.profile-content
	background-color white
	max-width 80%
	margin -10px auto 0
	box-shadow 0 1px 2px rgba(black, .2)
	color #4F4F4F
	.row
		padding 12px
		span
			&:first-child
				color $blue
				margin-right 12px
				font-weight 600
	.content-list
		flex-direction column
		li
			line-height 40px

.profile-options
	display flex
	justify-content space-between
	margin 22px auto
	max-width 80%
	button
		background-color #6BA9AA
		color white
		border-radius 0
		height 40px
		line-height 40px
		min-height 40px
		font-size 14px
		font-family 'Raleway', sans-serif
		font-weight 300
		letter-spacing 1px
.small-title
	color #669999
	font-family 'Raleway', sans-serif
	font-size em(22px)
	line-height 50px
	text-align center


/* Historial */

.cian-title
	color #6BA9AA
	font-size 18px
	display block
	text-align center

.doctor-list
	margin 22px 0
	display flex
	flex-direction column
	background-color white
	box-shadow 0 1px 2px rgba(black, .2)
	li
		border-bottom 1px solid #D8D8D8
		list-style none
		&:last-child
			border-bottom 0
		a
			text-decoration none
			display flex
			align-items center
			padding 8px 12px 
		.image
			circle 66px
			overflow hidden
			border 2px solid #6BA9AA
			img
				width 100%
				height 100%
				object-fit cover
		.content
			display flex
			flex-direction column
			justify-content center
			font-weight 600
			color #4F4F4F
			padding 12px
			span
				width 100%
				display block
			  	

/* Doctor */
	
.profile-header-doctor
	background-color #76B2E2
	.address
		font-size 14px
		display block
		margin-top 16px

.doctor-nav
	max-width 90%
	margin -5% auto 
	background-color white
	z-index 9999
	box-shadow 0 1px 2px rgba(black, .2)
	ul
		display flex
		li
			a
				display flex
				text-decoration none
				color #76B2E2
				font-size 10px
				padding 12px
				line-height 1.5
				img
					margin-right 8px

.doctor-tabs
	position relative
	padding 12px 5%
	z-index -1
	height auto
	top -22px
	.call-icon
		margin-top 40px
		line-height 30px
		font-weight 600
		img
			margin-right 12px
		display block
		border-bottom 1px solid #D8D8D8

.call-list
	li
		display flex
		justify-content space-between
		align-items center
		size 100% 44px
		border-bottom 1px solid #D8D8D8
		a
			text-decoration none
			color #6BA9AA
			font-style italic
.activeNav
	background-color rgba(#76B2E2, .2)
.map
	size 100% 350px
	position absolute
	top 0
	left 0
	iframe
		size 100%
		z-index -1