@import 'booo'

/* Colors */
$blue = #0066cc


.header-nav
	background-color $blue
	size 100% 75px
	display flex
	justify-content space-between
	align-items center
	padding 0 5%

.header-nav-logo
	img
		height 35px

.header-nav-options
	display flex
	align-items center
	font-size em(40px)
	color white
	.user-profile
		circle 45px
		border 1px solid white
		background-color white
		overflow hidden
		margin-right 1rem
		img
			size 100%
			display block

.wrapper
	padding 22px


.home-title
	padding 0 0 12px 0
	display block
	color $blue
	font-family: 'Raleway', sans-serif
	border-bottom 1px solid $blue
	font-size 100%

.tabs
	background-color $blue !important
	.icon
		height 100%
		color white
		font-size 36px
		display flex
		align-items center
		justify-content center
	.tab-item-active
		border-color $blue !important

.app-top-nav
	list-style none
	display flex
	background-color $blue
	li
		flex 1
		text-align center
		a
			text-decoration none
			color white
			line-height 40px
			font-family: 'Raleway', sans-serif

.app-list
	.item
		background-color #6195CB
		color white
		text-align center
		font-family: 'Raleway', sans-serif
		img
			display block
			margin auto
			size 40px
			margin-bottom 12px
	.cian
		background-color #6BA9AA

.app-form
	margin-top 20%
	input
	select
		size 100% auto
		padding 12px 0
		margin-bottom 12px
		background-color #A5A5A5
		color white
		font-family: 'Raleway', sans-serif
		padding-left 12px
		+placeholder()
			color white


/*	
.nav-item
	background-color #6699cc
	display flex
	flex-direction column
	align-items center
	justify-content center
	size 100% 100px
	font-family: 'Raleway', sans-serif
	text-decoration none
	font-size 16px
	color white
	border-bottom 1px solid white
	img
		display block
		size 40px
		margin-bottom 16px
	+m('cian')
		background-color #669999

.sub-nav
	background-color $blue
	color white
	display flex
	align-items center
	size 100% 50px
	list-style none
	li
		size (100 / 3)% 100%
		text-align center
		line-height 50px
		a
			color white
			font-family: 'Raleway', sans-serif
			text-decoration none
			font-size em(18px)
			display block
			size 100%


.content-wrapper
	padding 5%

.title-with-border
	padding 0 0 12px 0
	display block
	color $blue
	font-family: 'Raleway', sans-serif
	border-bottom 1px solid $blue

.home-form
	margin-top 20%
	.list-inset
		margin-left 0
		margin-right 0
		border-radius 0
	.item  
		size 100% 45px
		border none
		border-radius 0 !important
		background-color #a5a5a5
		margin-bottom em(16px)
		&:after
			color white
		input
		select
			font-family: 'Raleway', sans-serif
		input
			color white
			+placeholder()
				color white
	.item-select
		//background-color red
		select
			background-color #a5a5a5
			width 100%
			max-width 100%
			direction ltr
			color white
	

/* Profile 
.profile-header
	background-color #6BA9AA
	color white
	font-family: 'Raleway', sans-serif
	text-align center
	padding 20px 0 
	.profile-picture
		circle 110px
		border 2px solid white
		background-color white
		overflow hidden
		display inline-block
		img
			size 100%
			object-fit fill
	.profile-name
		font-size 16px
		
.profile-content
	background-color white
	max-width 80%
	margin -10px auto 0
	box-shadow 0 1px 2px rgba(black, .2)
	color #4F4F4F
	.row
		padding 12px
		span
			&:first-child
				color $blue
				margin-right 12px
	.content-list
		flex-direction column
		li
			line-height 40px

.profile-options
	display flex
	justify-content center
	button
		margin 0 12px
		background-color #6BA9AA
		color white
		border-radius 0
		height 40px
		line-height 40px
		min-height 40px
		font-size 14px
		font-family 'Raleway', sans-serif

.small-title
	color #669999
	font-family 'Raleway', sans-serif
	font-size em(22px)
	line-height 50px
	text-align center

.history
	li
		size 100% 50px
		overflow hidden
		
*/